@model SaveNote.Models.ViewModels.NotesView

@{
    ViewBag.Title = "Новая заметка";
    Layout = "~/Areas/Default/Views/Shared/NotesLayout.cshtml";
}

<div class="ui stackable grid two column">
    <div class="two wide column"></div>
    <div class="ten wide column">
        @using (Html.BeginForm("Add", "Notes", FormMethod.Post, new { @class = "" }))
        {
            @Html.ValidationSummary()
    
            <div class="inline field">
                <label>Название заметки: </label>
                <div class="ui fluid icon input">
                  @Html.TextBox("Name", Model.Name)
                  <i class="tag icon"></i>
                </div>        
            </div>
            <br />
    
            <div class="inline field">
                <div class="ui fluid icon input">
                  @Html.TextArea("Editor", Model.Content)
                </div>        
            </div>
            
            <br />    
            <div class="inline field">
                <input type="button" value="Сохранить" class="ui blue submit button" id="AddNote"/>
                @Html.ActionLink("Назад", "Index", "Notes", null, new { @class = "ui green button"})
            </div>
        }
    </div>
</div>