<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SaveNote.Model.Properties.Settings.SaveNoteBDConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;D:\Itstep\программирование\ASP.NET MVC\SaveNote\SaveNote\App_Data\SaveNoteBD.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SaveNote.Model.Properties.Settings.SaveNoteConnectionString"
            connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=&quot;D:\Itstep\программирование\ASP.NET MVC\SaveNote\SaveNote\App_Data\SaveNoteBD.mdf&quot;;Initial Catalog=SaveNote;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>