@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>403</title>
</head>
<body style="background: url(../Content/Images/403-page-tips.jpg) no-repeat; -moz-background-size: 80%; -webkit-background-size: 80%; -o-background-size: 80%; background-size: 80%; background-position: center top;">
    <div>
        <a href="/">Вернуться на главную</a>
    </div>
</body>
</html>